body {
  padding: 35px;
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  background-color: #000 !important;
  padding: 20px;
  color: #fff;
}

h1 {
  margin: 20px auto;
  font-weight: 900;
}

.table {
  margin-top: 100px;
}

.table thead {
  background-color: #5600e3 !important;
}

.table thead tr th {
  color: #fff !important;
}

.heading {
  padding-left: 300px;
}

.checked {
  color: #fff !important;
  margin-left: 2px;
}

.btn {
  background-color: lightblue !important;
  color: #fff !important;
  border-radius: 20%;
  margin-right: 30px;
  margin-top: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
}

.nav-item:hover {
  opacity: 0.5;
  margin-left: 10px;
}
