body {
  padding: 35px;
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  background-color: #000 !important;
  padding: 20px;
  color: #fff;
}

h1 {
  margin-top: 20px;
  margin-left: 60%;
  font-weight: 900;
  text-align: center;
}
.btn-info {
  width: 200px;
}
.table {
  margin-top: 100px;
}

.table thead {
  background-color: #5600e3 !important;
}

.table thead tr th {
  color: #fff !important;
}

.heading {
  padding-left: 300px;
}

.checked {
  color: #fff !important;
  margin-left: 2px;
}

.btn {
  background-color: #5600e3 !important;
  color: #fff !important;
  border-radius: 3px;
  margin-right: 30px;
  margin-top: 20px;
  border: none;
  transition: opacity 0.3s;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 25px;
}
.nav-item {
  margin-left: 20px;
  transition: opacity 0.3s;
}
.nav-item:hover,
.btn:hover {
  opacity: 0.5;
}
.btn:active {
  transform: translateY(2px);
}
.checked {
  color: yellow !important;
  margin-left: 2px;
}
