extends ../layout

block content
    h1 Add New Product
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Product Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="price") Product Price
            input#price(type="text", class="form-control", name="price")
        .form-group
            label(for="discription") Product Discription
            input#discription(type="text", class="form-control", name="discription")
        .form-group
            label(for="rating") Product Rating
            input#rating(type="number", min="0", max="5", class="form-control", name="rating")
        input(type="submit", class="btn btn-info")
    